$mainColor: #be993e;

#logo {
    height: 60px;
}

.nav {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 12112;
    padding: 15px 0;
    background: {
        color: rgba(0, 0, 0, 0);
    }
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}


.nav-links > ul > li {
    list-style-type: none;
    float: left;
    margin-right: 15px;
    margin-top: 20px;
}

.nav-links > ul > li:hover {
    cursor: pointer;
    color: $mainColor;
}